.about-page {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
.container {
  
}

.container__headline h1 {
  color: #B23850;
  padding-bottom: 20px;
}

.container__headline p {
  font-size: 16px;
  padding-bottom: 30px;
}



.team-image {
    display: flex;
}

.team-member__name-tag {
  color: #B23850;
  border-bottom: 1px solid #B23850 ;
  padding: 5px;
}

.team-side-info {
    writing-mode: tb-rl;
    justify-content: flex-end;
    transform: rotate(180deg);
    text-align: left;
}

.team-info-social {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}

.team-info-social a {
    text-align: center;
    list-style: none;
}

.team{
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.team-member {
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.team-member a {
    color: #B23850;

}
.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.team-member figure img {
  width: 250px;
  height: 250px;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 820px){
  .team {
    display: inline;
    width: 100%;
  }
}