.about-page {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

.about-page__container {
  max-width: 85%;
  margin: 0 auto;
}

.aboutpage__container__h1 {
  color: #3f393a;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-top: 40px;
}

.about-page__container__headline p {
padding-bottom: 30px;
font-size: 0.9em;
color: #666;
max-width: 90%;
  font-weight: 300;
}

.team-image {
  display: flex;
}

.team-member__name-tag {
  color: #3f393a;
  margin-bottom: 5px;
}

.team-info-social {
  display: flex;
  /* justify-content: flex-start; */
  list-style: none;
  text-align: center;
  padding-bottom: 10px;
}

.team-info-social img {
  margin-right: 15px;
  width: 18px;
}

.team-info-social a {
  text-align: left;
  list-style: none;
}

.team{
  display: flex;
  justify-content: space-between;
}

.team-member {
margin: 15px 0;
padding: 0;
text-align: left;
color: #3f393a;
}

.team-member__title {
  font-size: 0.8em;
  margin-top: 0;
  font-weight: 500;
  color: #3f393a;
}

.team-member__description {
  font-size: 0.8em;
  color: #666;
  max-width: 290px;
}

.team-member a {
  color: #666;
  font-size: 0.8em;
}
.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.team-member figure img {
width: 170px;
height: 170px;
object-fit: cover;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 900px) {
  .about-page__container {
  max-width: 100%;
  margin: 0 auto;
}
  
  .team {
    display: flex;
    flex-direction: column;
    
  }
.team-member figure img {
width: 170px;
height: 170px;
object-fit: scale-down;
}
.team-member__description {
  font-size: 0.8em;
  color: #666;
  max-width: 80%;
}
  .team-member {
    margin-left: 30px;
    margin-bottom: 80px;
    display: flex;
    
    
  }


  .name-title-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
   
    
  }

    .name-title-info-container h4 {
      margin-top: 0;
    }

  .about-page__container__headline {
    font-size: 0.7rem;
    margin-left: 30px;
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .team {
    display: inline;
  }

  .team-member {
    margin-left: 30px;
    margin-bottom: 80px;
  }

  .about-page__container__headline {
    font-size: 0.7rem;
    margin-left: 30px;
    width: 85%;
  }
}
