.container {
    max-width: 960px;
    margin: 0 auto;
  }

  .container__headline h1 {
    color: #b23850;
  }
  
  .container__headline p {
  font-size: 16px;
  }

  .section {
      width: 100%;
      display: flex;
      padding-bottom: 20px;
  }

  .form-container {
      width: 60%;
      padding-left: 10px;
      height: 100%;
      margin: 0 auto;

  }

  hr {
    width: 80%;
    color: white;
  }
  .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      height: 100%;
      background-color: #b23850;
      border-radius: 3px;
  }
  .contact-info {
     padding: 20px;
     color: white;
  }
  .social-media {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: white;
  }
  
  .social-media a:hover {
    background-color: #f15977;
    border-radius: 5px;
  }
  

  .contact-info ul li {
      padding-top: 50px;
      list-style: none;
      
  }
  
  .row {
      width: 100%;
      display: flex;
  }
  .subject {
    padding: 20px 0px 30px;
    width: 99%;
  }

  .message {  
    padding-bottom: 10px;
}

  .name {
    float: left;
  }

  .email {
    width: 50%;
}

.textfield {
  background-color: #000;
  color: green;
}



  input[type=submit] {
    background-color: #b23850;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .submit {
   float: right; 
  }
  
  input[type=submit]:hover {
    background-color: #f15977;
  }
  .message .MuiFormControl-root {
    width: 100%;
  }
  


  .form-container .MuiInputBase-root {
    color: #222222;
  }

  .message.MuiOutlinedInput-root-Mui-focused.MuiOutlinedInput-notchedOutline {
    border-color: aqua;
  }

  /* .message .MuiOutlinedInput-multiline .Mui-focused {
    border-color: #b23850;
    border-width: 2px;
  } */

  .form-container .MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #b23850;
    pointer-events: none;
}


.leaflet-container {
  width: 100%;
  /* height: 300px; */
}

.map {
  padding-bottom: 50px;
}

.submit .MuiButton-containedPrimary {
  background-color: #b23850;
}



  @media screen and (max-width: 820px) {
    .container {
      width: 96%;
    }
    .section {
      display: inline;
      width: 100%;
      padding-bottom: 20px;
    }
    .card {
      width: 100%;
    }

    .contact-info {       
      margin: 0 auto;
    }

    .social-media-media {
      margin: 0 auto;
      height: 100%;
    }
    .form-container {
      width: 100%;
      display: inline;
    }
    .message {
      width: 100%;
      padding-bottom: 10px;
    }
    .submit {
      margin:0 auto;
      display: block;
      width: 56%;
    }
    .map {
      padding-top: 50px;
    }


  }
  
  
