.etiquette-logo{
    width: 600px;
}

.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-container {
  width: 80%;
  height: 400px;
}

@media only screen and (max-width: 600px){
    .etiquette-logo{
        width: 250px;
    }
}

