.app-bar{
    display: flex;
}
.homepage{
background-image: url('../images/landingpage.jpg');
background-size: cover;
height: 100vh;
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 

}
.etiquette-logo{
    margin-top: 120px;
    width: 400px;
}

.homepage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plane-window{
    max-width: 35vw;
}
.homepage-whats-etiquette{
    display: flex;
    justify-content: space-between;
}
.homepage-description{
    display: flex;
    flex-direction: column;
}
.homepage-description-paragraph{
    line-height: 2;
    font-size: 1.3em;
    font-weight: 200;
    margin-left: 20px;
    padding:20px;
}
@media only screen and (max-width: 600px){
    .etiquette-logo{
        width: 250px;
    }
}