
.mission-page{
    background-image: url('../images/our-mission.jpg');
    background-size: cover;
}
.fab, .far, .fas{
    font-size: 4em;
    margin: 0 auto !important;
    text-align: center;
    color: white;
    
}
.our-mission__main-container{
    margin-top: 0px;
    margin-bottom: 100px;
    margin: 0 40px;
    color: white;
}
.our-mission-icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 20px;
}
.our-mission-h1, .our-mission-h3{
    text-transform: uppercase;
    text-align: center;
}
.our-mission-h1{
    margin-top: 70px;
    letter-spacing: 9px;
}
.our-mission-h3{
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 100px;
}
.our-mission-principle {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
.our-mission-description{
    margin: 0 20px;
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 20px;
    color: white;
}
.countrypage-navbar{
    display: flex;
    margin-top: 20px;
}