
  #notfound {
    position: relative;
    height: 120vh;
  }
  
  #notfound .notfound {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 650px;
    width: 100%;
    text-align: center;
    padding: 30px;
    z-index: 1;
  }
  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
     
      transform: translatey(-20px);
    }
    100% {
     
      transform: translatey(0px);
    }
  }
  .image img {
    width: 150px;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    padding-bottom: 40px;
   
  }
 
  .text {
    border: 1px solid #b23850 ;
      padding: 20px;
  }
  
  .notfound h1 {
    font-family: 'poppins', sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color: #fff;
    text-shadow: 2px 2px 1px #222222;
  }
  
  .notfound h2 {
    font-family: 'poppins', sans-serif;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 1px #222222;
  }
  
  .notfound a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    text-shadow: 1px 1px 1px black;
  }
  
  .notfound a:hover {
      color: #fff;
    background-color: #b23850;
  }

  .notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: black;
    background-color: #dedede;
    margin: 3px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:120vh;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
@media only screen and (max-width: 767px) {
    .notfound .notfound-bg {
      width: 287px;
      margin: auto;
    }

    .notfound .notfound-bg > div {
      height: 85px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound h1 {
    font-size: 50px;
  }

  .notfound h2 {
    font-size: 18px;
  }
}
