* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
    background-image: url('../images/space.png');
  }
  
  #notfound .notfound {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 650px;
    width: 100%;
    text-align: center;  
    padding: 30px;
  
  }
  .image img{
      width: 150px;
      transform: rotate(10deg);
  }
 
  .notfound h1 {
    font-family: 'poppins', sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
    color: #fff;
    text-shadow: 2px 2px 1px #222222;
  }
  
  .notfound h2 {
    font-family: 'poppins', sans-serif;
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 1px #222222;
  }
  
  .notfound a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    text-shadow: 1px 1px 1px black;
  }
  
  .notfound a:hover {
      color: #fff;
    background-color: #b23850;
  }

  .notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: black;
    background-color: #dedede;
    margin: 3px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
 
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-bg {
        width: 287px;
        margin: auto;
      }
  
      .notfound .notfound-bg > div {
        height: 85px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound h1 {
      font-size: 50px;
    }
  
    .notfound h2 {
      font-size: 18px;
    }
  }
  