.MuiInputBase-root {
    border-color:2px solid  aqua;
}


@media only screen and (max-width: 600px){
    .country-search .MuiInputBase-fullWidth {
        font-size: 0.1em;
        width: 60%;
    }
}