.facts-container {
 position: relative;
 left:40px;
 top: 23px;
  width: 62%;
  margin: 0 auto;
  margin-top: 0px;
  text-align: left;
  /* padding: 30px; */
  padding-top: 0;
  color: rgb(187, 183, 183);
  font-weight: normal;
  
}
