.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222222;
   color: white;
   
}

.wrapper {
    display: flex;
   justify-content: space-between;
   padding: 20px 0;
   font-size: 12px;
   margin: 0 auto;
   width: 960px;
}


.footer-links a {
    text-decoration: none;
    list-style: none;
    color:#fff;
}

.footer-logo a {
    color: rgb(202, 202, 202);
    text-decoration: none;
  
}
.footer-logo img {
    width: 120px;
}

.footer-logo,
.footer-links,
.footer-social-media {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
    
}
.footer-social-media-item {
    padding: 20px;
}
