.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222222;
   color: white;
   margin-top: 160px;
   
}

.footer-links__text {
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
}


.wrapper {
    display: flex;
   justify-content: space-between;
   padding: 20px 0;
}


.footer-links > a {
    text-decoration: none;
    list-style: none;
    color:#fff; 
}

.footer-logo__link {
    color: rgb(202, 202, 202);
    text-decoration: none;
  
}
.footer-logo img {
    width: 120px;
}

.footer-logo,
.footer-links,
.footer-social-media {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
    
}
.footer-social-media-item {
    padding: 20px;
}

@media screen and (max-width: 761px){
    .wrapper {
      
      display: block;
    }
    .wrapper .footer-logo,
    .footer-links,
    .footer-social-media {
        width: 100%;
        font-size: 16px;
    }
  }

