.login-component form {
  display: flex;
  flex-direction: column;
  width: 420px;
  border: 1px solid #d3ced2;
  padding: 15px 20px 20px 10px;
  border-radius: 4px;
}
label {
  margin-top: 10px;
  color: #d3ced2;
  font-size: 0.8em;
}
span {
  color: rgb(207, 5, 5);
}
.login-button {
  background-color: #3f393a;
  margin-top: 10px;

  color: #f2f2f2;
  font-size: 14px;
  background-color: #555555;

  border-color: #555555;
  border-radius: 7px;
  width: 25%;
  font-weight: 500;
  padding: 0.3em 1em;
  line-height: 1.7em !important;

  position: relative;
  border: 2px solid;
  border-left: 0px;
}

.login-button:hover {
  background-color: #555555c2;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login-component input {
  width: 390px;
  padding: 6px;
  border: 1px solid #d3ced2;
  border-radius: 3px;
  margin-top: 4px;
}
.login-component h3 {
  font-family: "Poppins";
  margin: 0;
}
.forgot-your-password {
  color: #2ea3f2;
  text-decoration: none;
  margin-top: 7px;
  font-weight: 200;
  font-size: 0.8em;
}
