.nav-links{
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px 0 0;
    font-family: 'Poppins', sans-serif;
}

.nav-links__singlelink{
    padding: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}

.nav-links__singlelink:hover{
    color: #B23850;
}