.nav-links{
    display: flex;
    justify-content: flex-start;
    margin: 0px 40px 0 0;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0;
    width: 50vw;
    white-space:nowrap;
}

.nav-links__singlelink{
    padding: 20px 4%;
    padding-bottom: 0;
    text-decoration: none;
    color: rgba(19, 18, 18, 0.795);
    text-transform: uppercase;
    font-size: 0.7em;
    color: white;
    display: flex;
    align-items: flex-end;
    
}

.nav-links__singlelink:hover{
    color: #B23850;
}
@media only screen and (max-width: 600px){
    .nav-links{
        visibility: hidden;
        font-size: 0.6em;
        margin: 10px 10px 0 0;
    }
    .nav-links__singlelink{
        padding: 10px;
    }
}