.random-fact {
  font-family: sans-serif;
  font-size: 13px;
}

.random-fact__link {
  text-decoration: none;
  color: #b23850;
  font-size: 12px;
  font-weight: 600;
}

.random-fact__link:visited {
  text-decoration: none;
  color: #b23850;
}
