.user-buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 29px;
  margin-top: 10px;
}

.sign-in-button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 14px;
  margin-right: 18px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8em;
}
.sign-in-button:hover {
  color: #b23850;
}

.sign-up-button {
  background-color: #b23850;
  border-radius: 36px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 0px 18px !important;
  text-decoration: none;

  border: none;
  height: 27px;
  margin-top: 8px;
}

.sign-up-button:hover {
  background-color: #9e213a;
  border-color: #9e213a;
  border-width: 4px;
  border: solid 4px #9e213a;
}
