.homepage-whats-etiquette {
  margin-top: 30px;
}
.whats-description {
  margin-top: 20px;
  margin-left: 20px;
}
.whats-description__h2 {
  margin-left: 35px;
}
.whats-description-paragraph {
  font-size: 1.3em;
  line-height: 1.8;
  font-weight: 350;
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin-left: 32px;
}
